/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #cc3131
$accentDarkColor = #f25e5e
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
